﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="NewSubject.aspx.cs" Inherits="PROTECTED_AdminLayer_NewSubject" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Dodaj przedmiot</title>
    
</head>
<body>
    <form id="form1" runat="server">
        <h1>Dodaj przedmiot do kierunku</h1>
    <div>       
        Nazwa Przedmiotu:
        <asp:DropDownList ID="DropDownList1" runat="server" Width="100px" style="left:150px;position:absolute">
        </asp:DropDownList>   <br />
        ID Kierunku: 
        <asp:TextBox ID="IdKierunku" runat="server" style="left:150px;position:absolute"></asp:TextBox>   <br />
        ID Wykladowcy:
        <asp:TextBox ID="IdWykladowcy" runat="server" style="left:150px;position:absolute"></asp:TextBox>   <br />
        Semestr:
        <asp:TextBox ID="Semestr" runat="server" style="left:150px;position:absolute"></asp:TextBox>   <br />
        Rok Akademicki:
        <asp:TextBox ID="RokAkademicki" runat="server" style="left:150px;position:absolute"></asp:TextBox>   <br />
        <asp:Button ID="Button1" runat="server" Text="Dodaj Przedmiot" OnClick="Button1_Click" style="margin-top:10px"/>   
        <asp:Button ID="Button2" runat="server" Text="Zamknij" OnClick="Button2_Click" style="margin-top:10px"/>
    </div>
    </form>
</body>
</html>
